<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>site</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../img/logo.jpg" alt="logo">
        </div>
        <div class="menu-mobile">
            <i id="open-menu" class="fa-solid fa-bars"></i>
        </div>
        </div>
        <nav class="lista-menu">
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="QuemSomos.html">quem somos</a></li>
                <li><a href="contato.html">contato</a></li>
            </ul>
        </nav>
        <nav class="lista-menu-mobile">
            <div class="icons-hidden">
                <i id="hiddenMenu" class="fa-solid fa-xmark"></i>
            </div>
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="QuemSomos.html">quem somos</a></li>
                <li><a href="contato.html">contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section-main">
            <!--começo da section bodyhead -->
            <div class="div-bodyhead-1">
                <div class="img-bodyhead-1">
                    <img src="../img/plantando1.jpg" alt="">
                </div>
                <div class="paragrafo-div-bodyhead-1">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio perferendis quisquam
                        exercitationem doloribus distinctio cum expedita nemo nihil suscipit facilis aut molestias,
                        commodi iusto quasi quod libero asperiores voluptas pariatur!</p>
                </div>
            </div>
            <div class="div-bodyhead-2">
                <div class="img-bodyhead-2">
                    <img src="../img/plantando2.jpg" alt="">
                </div>
                <div class="paragrafo-div-bodyhead-2">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio perferendis quisquam
                        exercitationem doloribus distinctio cum expedita nemo nihil suscipit facilis aut molestias,
                        commodi iusto quasi quod libero asperiores voluptas pariatur!</p>
                </div>
            </div>
        </section>
        <!--fim da section bodyhead -->

        <section>
            <!--section icon-text-->
            <div class="icons-and-text">
                <div class="icons-text-1">
                    <div class="icons-text-interno-1">
                        <i class="fa-solid fa-money-bill"></i>
                    </div>
                    <div class="text-1">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, dolor. Eos aperiam, amet
                            perferendis, deleniti debitis odio impedit consequuntur quia molestiae eaque cupiditate
                            repellendus perspiciatis animi. Totam, exercitationem ipsum. Eaque.</p>
                    </div>
                </div>
                <div class="icons-text-2">
                    <div class="icons-text-interno-2">
                        <i class="fa-solid fa-person"></i>
                    </div>
                    <div class="text-2">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, dolor. Eos aperiam, amet
                            perferendis, deleniti debitis odio impedit consequuntur quia molestiae eaque cupiditate
                            repellendus perspiciatis animi. Totam, exercitationem ipsum. Eaque.</p>
                    </div>
                </div>
                <div class="icons-text-3">
                    <div class="icons-text-interno-3">
                        <i class="fa-solid fa-tree"></i>
                    </div>
                    <div class="text-3">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, dolor. Eos aperiam, amet
                            perferendis, deleniti debitis odio impedit consequuntur quia molestiae eaque cupiditate
                            repellendus perspiciatis animi. Totam, exercitationem ipsum. Eaque.</p>
                    </div>
                </div>
            </div>
        </section><!-- fim section icon-text-->
        <section>
            <div class="comments">
                <div class="img-rigth">
                    <img src="../img/imagemPlanetaComArvore.png " alt="">
                </div>
                <div class="comments-text">
                    <div class="buttons">
                        <button class="btnTroca" id="btn-troca-1"></button>
                        <button class="btnTroca" id="btn-troca-2"></button>
                        <button class="btnTroca" id="btn-troca-3"></button>
                    </div>
                    <div class="comments-img-perfil">
                        <h1 id="comments-text-titulo">
                            O que falam de nós
                        </h1>
                        <img id="img-perfil" src="" alt="pessoa">
                        <p id="nome"></p>
                        <p id="comment"></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
<script src="../js/index.js"></script>
<script src="../js/mobile.js"></script>

</html>