<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Quem somos</title>
</head>

<body class="quemsomos">
    <header>
        <div class="logo">
            <img src="../img/logo.jpg" alt="logo">
        </div>
        <div class="menu-mobile">
            <i id="open-menu" class="fa-solid fa-bars"></i>
        </div>
        <nav class="lista-menu">
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="QuemSomos.html">quem somos</a></li>
                <li><a href="contato.html">contato</a></li>
            </ul>
        </nav>
        <nav class="lista-menu-mobile">
            <div class="icons-hidden">
                <i id="hiddenMenu" class="fa-solid fa-xmark"></i>
            </div>
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="QuemSomos.html">quem somos</a></li>
                <li><a href="contato.html">contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="secQuemSomos">
            <!--Quem somoms-->
            <div class="QuemSomos">
                <div class="img-banner">
                    <img id="img-planta-quem-somos" src="../img/pessoasPlantando1.jpg" alt="">
                </div>
                <div class="QuemSomos-text">
                    <h1>Quem somos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, illo quidem odit cupiditate
                        quaerat fugiat ab ad neque sit aspernatur assumenda vitae nam enim nobis deleniti possimus ea
                        officia mollitia.
                        Nisi, id alias sapiente nobis aperiam sit tempore non asperiores ipsum aliquid tempora quod
                        ducimus modi provident rerum! Dolores quibusdam ea totam temporibus pariatur sit aspernatur
                        iusto vero quasi numquam!
                        Id commodi optio eveniet laboriosam quidem magnam earum, quo quos eligendi. Cum, dolores magni
                        perspiciatis cumque explicabo ipsa ad veritatis ut quisquam esse tempora! Provident aliquid
                        beatae facere ex magni.</p>
                    <div class="icons-quem-somos">
                        <p> <i class="fa-solid fa-money-bill"></i>+ de R$ 100 mil doados</p>
                        <p> <i class="fa-solid fa-person"></i>+ de 500 colaboradores</p>
                        <p><i class="fa-solid fa-tree"></i>+ de 200,000 árvores plantadas</p>
                    </div>
                </div>
            </div>
        </section>
        <!--fim de "Quem somos "-->
        <section class="sect_nossa_his">
            <!--nossa hostoria-->
            <div class="nossa-historia">
                <div class="nossa-hostoria-title">
                    <h1>Nossa Historia</h1>
                </div>
                <div class="container-nossa-historia">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit facere consectetur impedit
                        nesciunt
                        quidem molestiae, quasi veniam neque itaque sit, vel nobis optio officiis ut autem sapiente
                        rem
                        mollitia velit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit facere
                        consectetur impedit
                        nesciunt
                        quidem molestiae, quasi veniam neque itaque sit, vel nobis optio officiis ut autem sapiente
                        rem
                        mollitia velit.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, similique! Quisquam,
                        sed.
                        Sapiente fuga natus, distinctio saepe recusandae quos nesciunt ad odit et, dolore
                        consectetur.
                        Ipsa
                        suscipit perspiciatis debitis quas? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perspiciatis, similique! Quisquam, sed.
                        Sapiente fuga natus, distinctio saepe recusandae quos nesciunt ad odit et, dolore
                        consectetur.
                        Ipsa
                        suscipit perspiciatis debitis quas?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam obcaecati voluptates
                        rerum
                        ad
                        eaque eos totam quaerat, aspernatur odit accusantium et alias, earum reprehenderit animi
                        veritatis
                        architecto quidem provident officia? Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Laboriosam obcaecati voluptates rerum
                        ad
                        eaque eos totam quaerat, aspernatur odit accusantium et alias, earum reprehenderit animi
                        veritatis
                        architecto quidem provident officia?
                    </p>
                </div>
            </div>
        </section><!-- fim nossa hostoria-->
    </main>
    <footer></footer>
</body>
<script src="../js/mobile.js"></script>

</html>